#demo,
.demo {
  border: 1px solid #f0f0f0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 0px;
  padding: 25px 35px;
  margin-left: 0.8em;
  margin-bottom: 40px;
  font-size: 1.2em;
  line-height: 1.5em;

  h1 {
    margin: 0 0 0.5em;
    font-size: 1.8em;
  }

  ul {
    padding-left: 1.5em;
    margin: 0;
  }

  li {
    cursor: pointer;
    color: #34495e;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    &.done {
      color: #7f8c8d;
      text-decoration: line-through;
    }
  }
}