# Logs
logs
*.log

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
!node_modules/@types/storejs

# temp and dist directory
temp/
dist/

# TypeScript DefinitelyTyped directory
app/scripts/typings/

# Compiled js and css
*.js
*.map
*.css

# Gulp file
!gulpfile.js

## Directory-based project format:
.idea/